body{
  background-color: #152A64;
  margin: 0px;
}
h1 { 
  font-family: "Digital 7";
  font-size: 60px;
  margin-bottom: 60px;
  color: #f2f2f2;
  text-align: center;
}
p{
  font-family: "Digital 7";
  font-size: 30px;
  color: #f2f2f2;
  text-align: center;
}
.footer{
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 30px;
  color: #152A64;
}
.footer b{
  color: black;
}